body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f4f4f4;
}

img {
            max-width: 70%;
            height: auto;
            border-radius: 10px;
        }

.header {
    width: 100%;
    padding: 5px 0;
    background-color: #333;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
}

.header img {
      height: 60px; 
}

.container {
    width: 70%;
    background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    margin: 20px 0;
    text-align: left;
}

nav {
    background-color: #333;
    overflow: hidden;
    width: 100%;
}

nav .menu-icon {
    visibility: hidden;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    padding: 14px 20px;
    display: inline-block;
    color: white;
}

nav ul li a:hover,
nav ul li a.active {
    background-color: #575757;
}

.content {
    padding: 20px;
}

/* Styles for mobile devices */
@media (max-width: 768px) {
    .container {
        width: 100%;
        margin: 0;
        box-shadow: none;
    }
    .contact-bar {
        width: 100%;
        text-align: center;
    }
    nav ul {
        flex-direction: column;
        display: none;
    }

    nav ul.show {
        display: flex;
    }

    nav .menu-icon {
        visibility: visible;
        display: block;
        background-color: #333;
        padding: 10px;
        color: white;
        cursor: pointer;
        text-align: center;
        width: 100%;
    }

    nav ul li {
        display: block;
    }

    nav ul li a {
        display: block;
        padding: 10px;
        border-top: 1px solid #575757;
    }
}

.contact-bar {
    width: 70%;
    text-align: center;
}

video {
    display: block;
    margin: 0 auto;
}
